.title5{
    background: linear-gradient(to right, #e4e4e4, #c4c4c4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 93px;
    font-weight: 600;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    padding-top: 5%;
    padding-bottom: 2%;
  }
  @media screen and (max-width: 900px ) {
      div.title5{
      
          font-size: 50px;
      }
  }

.hline{
   
    width:80%;
    height: 1px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1px;
    
    
}

.center{
    padding-top: 5%;
    place-items: center;
    display: grid;
}
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

.cardContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: auto;
    min-height: 600px;
}
.card{
    width:800px;
    height: 500px;
    background: linear-gradient(to right bottom,rgb(255, 255, 255), #bdbebe, #4a5974);
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 0 5px 1px rgba(197, 197, 197, 0.575);
}
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
.card1{
    z-index: 3;
    transform: translate(-70px,70px);
}

.card2{
    z-index: 2;
    filter: brightness(0.5);
}
.card3{
    z-index: 1;
    transform: translate(70px,-70px);
    filter: brightness(0.5);
}


/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
.card1:hover{
    transform: scale(1.1) translate(-70px,70px);
    transition-duration: 0.5s;

}
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
.card2:hover{
    z-index:4;
    transform: scale(1.1);
    filter: brightness(1);
    transition-duration: 0.5s;
   
}
.card2:hover + .card1{
    filter: brightness(0.5);
    
}
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
.card3:hover{
    z-index:4;
    transform: scale(1.1) translate(70px,-70px);
    filter: brightness(1);
    transition-duration: 0.5s;
}
.card3:hover + .card1{
    filter: brightness(0.5);
}
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/